@import "tailwindcss";

* {
   
    box-sizing: border-box;
}

.scroll-border {
    position: relative;
    display: inline-block;
    padding: 3px;
    background: #222;
    color: white;
    font-family: sans-serif;
    font-size: 1.2rem;
    border-radius: 10px;
    z-index: 0;
    cursor: pointer;
    overflow: hidden;
}

/* Pseudo-element for animated border */
.scroll-border::before {
    content: "";
    position: absolute;
    inset: -2px;
    border-radius: 12px;
    z-index: -1;
    background: conic-gradient(from 0deg,
            transparent 0deg 90deg,
            #3737FF 90deg 135deg,
            transparent 135deg 270deg,
        #3737FF 270deg 315deg,
            transparent 315deg 360deg);
    background-size: 100% 100%;
    transform: rotate(0deg);
    transition: transform 0.2s ease;
    pointer-events: none;
}

/* Animate on hover */
.scroll-border:hover::before {
    animation: border-spin 3s linear infinite;
}

@keyframes border-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.play-btn {
    visibility: hidden;
}

.player:hover  .play-btn {
    visibility: visible;
}



/****************** SCROLL BAR CSS*************** */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}